<h1>Angular material multi select dropdown with search Example </h1>
<div class="example-container"> 
<p>
  <mat-form-field appearance="fill">
    <mat-select [formControl]="websiteMultiCtrl" placeholder="Website" [multiple]="true" #multiSelect>
      <mat-option>
        <ngx-mat-select-search [formControl]="websiteMultiFilterCtrl"></ngx-mat-select-search>
      </mat-option>

      <mat-option *ngFor="let website of filteredWebsitesMulti | async" [value]="website">
        {{website.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</p>
<ul style="list-style-type:none" *ngFor="let website of websiteMultiCtrl?.value">
  <li>{{website.name}}</li>
</ul>
</div>