table{
  width: 80%;
  margin-left: 10%;
margin-top: 2%;
}
div{
  text-align: center;
}
h2 {
  margin-top: 10px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 60%;
 margin-left: 30%;
  margin-top: 5%;
}

.example-full-width {
  width: 60%;
}

// .content-table{
//   border-collapse: collapse rgb(167, 163, 163);
//   margin: 25px 0;
//   font-size: 0.9em;
//   min-width: 400px;
// }

// .content-table thead tr{
 
//   padding-left: 1px;
//   color: rgb(12, 12, 12);
//   text-align: right;
//   font-weight:bold;
// }
//  .content-table th,
//  .content-table td {
//    padding: 12px 50px;
//  }
// .content-table tbody tr{
//      border-bottom: 1px solid #887e7e00 ;
// }