
<div>
    <h2> Test Form</h2>
<form #mydata class="example-form" [formGroup]="userForm">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="Name" placeholder="Enter your name">
        <mat-error *ngIf="userForm.get('Name')?.errors?.required">
            {{FORMCONST.NAME_NULL}}
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>ProjectId</mat-label>
        <input type="text" matInput formControlName="ProjectId" placeholder="Enter your ProjectId">
        <mat-error *ngIf="userForm.get('ProjectId')?.errors?.required">
            {{FORMCONST.PROJECTID_NULL}}
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>ProjectName</mat-label>
        <input type="text" matInput formControlName="ProjectName" placeholder="Enter your ProjectName">
        <mat-error *ngIf="userForm.get('ProjectName')?.errors?.required">
            {{FORMCONST.PROJECTNAME_NULL}}
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>duration</mat-label>
        <input type="text" matInput formControlName="duration" placeholder="Enter duration">
        <mat-error *ngIf="userForm.get('duration')?.errors?.required">
            {{FORMCONST.DURATION_NULL}}
        </mat-error>
        <mat-error *ngIf="userForm.get('duration')?.errors?.min">
            {{FORMCONST.DURATION_INVALID}}
        </mat-error>
        <mat-error *ngIf="userForm.get('duration')?.errors?.max">
            {{FORMCONST.DURATION_INVALID}}
        </mat-error>
    </mat-form-field> <br>

    <button mat-button color="warn" type="button" [disabled] = "userForm.invalid" (click)="addData()">Add </button>
    <button mat-button color="warn" (click)="clearAll()"> Clear All </button>
</form>


</div>



<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
    </ng-container>


    <ng-container matColumnDef="ProjectName">
        <th mat-header-cell *matHeaderCellDef>ProjectName </th>
        <td mat-cell *matCellDef="let element"> {{element.ProjectName}} </td>
    </ng-container>


    <ng-container matColumnDef="ProjectId">
        <th mat-header-cell *matHeaderCellDef> ProjectId </th>
        <td mat-cell *matCellDef="let element"> {{element.ProjectId}} </td>
    </ng-container>

    <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef> duration </th>
        <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>